{% extends "base.html" %}
{% load staticfiles %}
{% block banner %}
<div class="breadcumb-area black-opacity bg-img-4">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="breadcumb-wrap">
                    <h2>CC3200物联网创新中心</h2>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block content %}
<div class="our-blog-area">
    <div class="container">
        <div class="row">
            <div class="blog-wrapper">
                <!--标题-->
                <div class="text-left">
                    <div class="my-section-title">
                        <span class="section-serial">&gt;</span>
                        <div class="title-text">
                            <h2>
                                <span id="lb_name">CC3200物联网创新中心</span></h2>
                            <p>EXPERIMENTAL CENTER</p>
                        </div>
                    </div>
                </div>
                <!--标题end-->
                <!---full width-->
                <div class="col-md-10 col-md-offset-1">
                    <div class="blog-slider">
                        <div class="blog-gallery-img">
                            <img src="{% static 'assets/images/17120714443098510000006.jpg'%}" id="faceimage"
                                 width="950"
                                 height="550" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt=""
                                 sizes="(max-width: 950px) 100vw, 950px">
                        </div>
                    </div>
                    <div class="blog-info">
      <p>
          CC3200物联网创新中心,该实训中心以物联网创新实训平台为核心，依照依照创新、创客工作的真实环境打造，可实现物联网应用的实验、创新和创客的学习和开发工作。通过在在中心的学习，可巩固学生对物联网创新的理解，培养学生在物联网领域的创新和创客意识；激发学生的创新、创业能力。
      </p>
                        <br>
                        <br>
                    </div>
                </div>

                <div class="col-md-10 col-md-offset-1">

                    <!--标题-->
                    <div class="text-left">
                        <div class="my-section-title">
                            <span class="section-serial">01</span>
                            <div class="title-text">
                                <h2>支撑的课程教学</h2>
                                <p>COURSE TEACHING</p>
                            </div>
                        </div>
                    </div>
                    <!--标题end-->

                    <blockquote>
                        <p>
                            计算机系统概论<br>数据库应用技术<br>Web前端开发技术<br>java程序设计<br>android应用开发技术<br>android专题开发<br>计算机应用与编程综合实践<br>面向对象与交互式应用开发综合实践<br>软件系统开发综合实践<br>移动应用开发领域应用综合实践<br>软件综合专题实训I<br>软件综合专题实训II<br>软件综合专题实训III<br>软件综合专题实训IV<br>
                        </p>
                    </blockquote>

                    <br>
                    <br>
                    <!--标题-->
                    <div class="text-left">
                        <div class="my-section-title">
                            <span class="section-serial">02</span>
                            <div class="title-text">
                                <h2>综合案例实训</h2>
                                <p>PROJECT TEACHING</p>
                            </div>
                        </div>
                    </div>
                    <!--标题end-->

                    <blockquote>
                        <p>
                            案例：Android典型界面布局实现<br>案例：迷你日记本<br>案例：迷你天气预报<br>案例：唯美音乐播放器<br>案例：精准导航器<br>案例：评教系统<br>案例：移动应急系统<br>
                        </p>
                    </blockquote>

                </div>

                <div class="col-md-10 col-md-offset-1">
                    <div class="kc-elm kc-css-424517 ">

                        <div class="text-left">
                            <div class="my-section-title">
                                <span class="section-serial">03</span>
                                <div class="title-text">
                                    <h2>综合案例图册</h2>
                                    <p>GALLERY.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                        <div class="demo-gallery">

                    </div>
                </div>


            </div>
            <!-- row -->
        </div>

    </div>
    <!-- container -->
</div>
</div>
{% endblock %}
