{% extends "base.html" %}
 {% load staticfiles %}
{% block banner %}
<div class="breadcumb-area black-opacity bg-img-3">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="breadcumb-wrap">
                            <h2>Service One</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="breadcumb-menu">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li>/</li>
                                <li>Service</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
{% block content %}
<section class="blog-area ptb-140 bg-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12 col">
                        <div class="blog-wrap mb-30">
                            <div class="blog-img">
                                <img src="assets/images/blog/1.jpg" alt="">
                            </div>
                            <div class="blog-content">
                                <div class="blog-meta">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-user"></i> Admin</a></li>
                                        <li><a href="#"><i class="fa fa-comment"></i> 5 Comment</a></li>
                                        <li><a href="#"><i class="fa fa-heart"></i> 5 Love</a></li>
                                    </ul>
                                </div>
                                <h3><a href="blog.html">wonderful serenity has taken</a></h3>
                                <p>wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy</p>
                                <a href="blog.html" class="btn-style">Read More</a>
                            </div>
                        </div>
                    </div>
{% for i in list %}
                    <div class="col-md-4 col-sm-6 col-xs-12 col">
                        <div class="blog-wrap  mb-30">
                            <div class="blog-img">
                                <img src="assets/images/blog/2.jpg" alt="">
                            </div>
                            <div class="blog-content">
                                <div class="blog-meta">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-user"></i> Admin</a></li>
                                        <li><a href="#"><i class="fa fa-comment"></i> 5 Comment</a></li>
                                        <li><a href="#"><i class="fa fa-heart"></i> 5 Love</a></li>
                                    </ul>
                                </div>
                                <h3><a href="blog.html">of my entire soul</a></h3>
                                <p>wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy</p>
                                <a href="blog.html" class="btn-style">Read More</a>
                            </div>
                        </div>
                    </div>
{% endfor %}
                    <div class="col-xs-12">
                        <div class="pagination-wrap">
                            <ul>
                                <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href=""><i class="fa fa-angle-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}