{% extends "base.html" %}
{% load staticfiles %}
{% block banner %}
<div class="breadcumb-area black-opacity bg-img-4">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="breadcumb-wrap">
                    <h2>实验实训</h2>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block content %}
<div class="our-blog-area ptb-30">
    <div class="container">
        <div id="UpdatePanel1">

            <div class="row">

                <!---full width-->

                <div class="row ">
                    <div class="text-left">
                        <div class="my-section-title">
                            <span class="section-serial">01</span>
                            <div class="title-text">
                                <h2>实训中心</h2>
                                <p>CHARACTERISTIC</p>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-4 col-sm-6">
                    <article id="post-330"
                             class="clearfix post-330 post type-post status-publish format-standard has-post-thumbnail hentry category-education category-learning tag-business tag-study tag-teaching">
                        <div class="edu-news-single clearfix">
                            <div class="edu-news-img">
                                <a href="/lab/1">
                                    <img src="{% static 'assets/images/17120714313398810000001.png'%}"
                                         id="repeater_teacher_faceimage_0" width="950" height="480"
                                         class="attachment-unitech_blog_one_image size-unitech_blog_one_image wp-post-image"
                                         alt="">
                                </a>
                            </div>
                            <div class="edu-news-content clearfix">
                                <h2><a href="sx_sxslist_details.aspx?id=17112721364561510000002">
                                    移动应用开发实训中心
                                </a>
                                </h2>
                                <p>
                                    <a href="sx_sxslist_details.aspx?id=17112721364561510000002">
                                        移动应用开发实训中心主要主持移动互联应用开发实训。以教学需求为主，产...
                                    </a>
                                </p>
                            </div>
                        </div>
                    </article>
                </div>

                <div class="col-md-4 col-sm-6">
                    <article id="post-330"
                             class="clearfix post-330 post type-post status-publish format-standard has-post-thumbnail hentry category-education category-learning tag-business tag-study tag-teaching">
                        <div class="edu-news-single clearfix">
                            <div class="edu-news-img">
                                <a href="/lab/2">
                                    <img src="{% static 'assets/images/17120714413989310000004.jpg'%}"
                                         id="repeater_teacher_faceimage_1" width="950" height="480"
                                         class="attachment-unitech_blog_one_image size-unitech_blog_one_image wp-post-image"
                                         alt="">
                                </a>
                            </div>
                            <div class="edu-news-content clearfix">
                                <h2><a href="sx_sxslist_details.aspx?id=17120615444485910000023">
                                    嵌入式工程实践中心
                                </a>
                                </h2>
                                <p>
                                    <a href="sx_sxslist_details.aspx?id=17120615444485910000023">
                                        嵌入式工程实训中心以嵌入式创新实训平台为核心，依照创新、创客工作的真...
                                    </a>
                                </p>
                            </div>
                        </div>
                    </article>
                </div>

                <div class="col-md-4 col-sm-6">
                    <article id="post-330"
                             class="clearfix post-330 post type-post status-publish format-standard has-post-thumbnail hentry category-education category-learning tag-business tag-study tag-teaching">
                        <div class="edu-news-single clearfix">
                            <div class="edu-news-img">
                                <a href="/lab/3">
                                    <img src="{% static 'assets/images/17120714415501310000005.jpg'%}"
                                         id="repeater_teacher_faceimage_2" width="950" height="480"
                                         class="attachment-unitech_blog_one_image size-unitech_blog_one_image wp-post-image"
                                         alt="">
                                </a>
                            </div>
                            <div class="edu-news-content clearfix">
                                <h2><a href="sx_sxslist_details.aspx?id=17120615460336810000025">
                                    嵌入式开发实训中心
                                </a>
                                </h2>
                                <p>
                                    <a href="sx_sxslist_details.aspx?id=17120615460336810000025">
                                        嵌入式开发实训中心是以Z7(嵌入式全可编程实训平台)为核心，辅以环境...
                                    </a>
                                </p>
                            </div>
                        </div>
                    </article>
                </div>

                <div class="col-md-4 col-sm-6">
                    <article id="post-330"
                             class="clearfix post-330 post type-post status-publish format-standard has-post-thumbnail hentry category-education category-learning tag-business tag-study tag-teaching">
                        <div class="edu-news-single clearfix">
                            <div class="edu-news-img">
                                <a href="/lab/4">
                                    <img src="{% static 'assets/images/17120714372526110000003.jpg'%}"
                                         id="repeater_teacher_faceimage_3" width="950" height="480"
                                         class="attachment-unitech_blog_one_image size-unitech_blog_one_image wp-post-image"
                                         alt="">
                                </a>
                            </div>
                            <div class="edu-news-content clearfix">
                                <h2><a href="sx_sxslist_details.aspx?id=17120615471669910000028">
                                    物联网A8实训中心
                                </a>
                                </h2>
                                <p>
                                    <a href="sx_sxslist_details.aspx?id=17120615471669910000028">
                                        物联网A8实训中心是以A8(物联网WSN实训平台)为核心，辅以环境、...
                                    </a>
                                </p>
                            </div>
                        </div>
                    </article>
                </div>

                <div class="col-md-4 col-sm-6">
                    <article id="post-330"
                             class="clearfix post-330 post type-post status-publish format-standard has-post-thumbnail hentry category-education category-learning tag-business tag-study tag-teaching">
                        <div class="edu-news-single clearfix">
                            <div class="edu-news-img">
                                <a href="/lab/5">
                                    <img src="{% static 'assets/images/17120714443098510000006.jpg'%}"
                                         id="repeater_teacher_faceimage_4" width="950" height="480"
                                         class="attachment-unitech_blog_one_image size-unitech_blog_one_image wp-post-image"
                                         alt="">
                                </a>
                            </div>
                            <div class="edu-news-content clearfix">
                                <h2><a href="sx_sxslist_details.aspx?id=17120615481821110000032">
                                    CC3200物联网创新中...
                                </a>
                                </h2>
                                <p>
                                    <a href="sx_sxslist_details.aspx?id=17120615481821110000032">
                                        CC3200物联网创新中心,该实训中心以物联网创新实训平台为核心，依...
                                    </a>
                                </p>
                            </div>
                        </div>
                    </article>
                </div>

                <div class="col-md-4 col-sm-6">
                    <article id="post-330"
                             class="clearfix post-330 post type-post status-publish format-standard has-post-thumbnail hentry category-education category-learning tag-business tag-study tag-teaching">
                        <div class="edu-news-single clearfix">
                            <div class="edu-news-img">
                                <a href="/lab/6">
                                    <img src="{% static 'assets/images/17120615484937710000033.png'%}"
                                         id="repeater_teacher_faceimage_5" width="950" height="480"
                                         class="attachment-unitech_blog_one_image size-unitech_blog_one_image wp-post-image"
                                         alt="">
                                </a>
                            </div>
                            <div class="edu-news-content clearfix">
                                <h2><a href="sx_sxslist_details.aspx?id=17120615493314410000035">
                                    移动通信运营商指挥中心
                                </a>
                                </h2>
                                <p>
                                    <a href="sx_sxslist_details.aspx?id=17120615493314410000035">
                                        移动通信运营商指挥中心以网优网测指挥平台为核心，配套移动通信工作所需...
                                    </a>
                                </p>
                            </div>
                        </div>
                    </article>
                </div>

                <div class="col-md-4 col-sm-6">
                    <article id="post-330"
                             class="clearfix post-330 post type-post status-publish format-standard has-post-thumbnail hentry category-education category-learning tag-business tag-study tag-teaching">
                        <div class="edu-news-single clearfix">
                            <div class="edu-news-img">
                                <a href="/lab/7">
                                    <img src="{% static 'assets/images/17120714323021810000002.png'%}"
                                         id="repeater_teacher_faceimage_6" width="950" height="480"
                                         class="attachment-unitech_blog_one_image size-unitech_blog_one_image wp-post-image"
                                         alt="">
                                </a>
                            </div>
                            <div class="edu-news-content clearfix">
                                <h2><a href="sx_sxslist_details.aspx?id=17120615504149310000037">
                                    移动通信运营商优化测试中...
                                </a>
                                </h2>
                                <p>
                                    <a href="sx_sxslist_details.aspx?id=17120615504149310000037">
                                        移动通信运营商优化测试中心是以T4-S（无线网络应用实训平台）为核心...
                                    </a>
                                </p>
                            </div>
                        </div>
                    </article>
                </div>

                <div class="col-md-4 col-sm-6">
                    <article id="post-330"
                             class="clearfix post-330 post type-post status-publish format-standard has-post-thumbnail hentry category-education category-learning tag-business tag-study tag-teaching">
                        <div class="edu-news-single clearfix">
                            <div class="edu-news-img">
                                <a href="/lab/8">
                                    <img src="{% static 'assets/images/18051609315397610000001.jpg'%}"
                                         id="repeater_teacher_faceimage_7" width="950" height="480"
                                         class="attachment-unitech_blog_one_image size-unitech_blog_one_image wp-post-image"
                                         alt="">
                                </a>
                            </div>
                            <div class="edu-news-content clearfix">
                                <h2><a href="sx_sxslist_details.aspx?id=17120615555279410000043">
                                    运营商监控实训中心
                                </a>
                                </h2>
                                <p>
                                    <a href="sx_sxslist_details.aspx?id=17120615555279410000043">
                                        该实训中心是运营商监控设备为核心,辅以环境、制度和工作流程...
                                    </a>
                                </p>
                            </div>
                        </div>
                    </article>
                </div>

                <div class="col-md-4 col-sm-6">
                    <article id="post-330"
                             class="clearfix post-330 post type-post status-publish format-standard has-post-thumbnail hentry category-education category-learning tag-business tag-study tag-teaching">
                        <div class="edu-news-single clearfix">
                            <div class="edu-news-img">
                                <a href="/lab/9">
                                    <img src="{% static 'assets/images/17120714531763410000008.jpg'%}"
                                         id="repeater_teacher_faceimage_8" width="950" height="480"
                                         class="attachment-unitech_blog_one_image size-unitech_blog_one_image wp-post-image"
                                         alt="">
                                </a>
                            </div>
                            <div class="edu-news-content clearfix">
                                <h2><a href="sx_sxslist_details.aspx?id=17120615555279410000043">
                                    智慧校园开发展示中心
                                </a>
                                </h2>
                                <p>
                                    <a href="sx_sxslist_details.aspx?id=17120615555279410000043">
                                        智慧校园开发展示中心以展示案例控制系统为核心，辅以环境、制度和工作流...
                                    </a>
                                </p>
                            </div>
                        </div>
                    </article>
                </div>

                <!---full width end-->


            </div>
            <!-- row -->
            <div class="row">
                <!--分页-->


                <!--分页end-->
            </div>

        </div>
    </div>
    <!-- container -->
</div>
{% endblock %}