

<!-- heared area start -->
<header class="header-area">
  <div class="header-middle bg-2">
    <div class="container">
      <div class="row">
        <div class="col-md-3 hidden-sm hidden-xs">
          <div class="logo">
            <h1><a href="index.html">Martxa</a></h1>
          </div>
        </div>
        <div class="col-md-9 col-xs-12">
          <div class="header-middle-right">
            <ul>
              <li>
                <div class="contact-icon">
                  <i class="fa fa-clock-o"></i>
                </div>
                <div class="contact-info">
                  <p>MON - SAT (9AM - 5PM)</p>
                  <span>Sunday colsed</span>
                </div>
              </li>
              <li>
                <div class="contact-icon">
                  <i class="fa fa-envelope"></i>
                </div>
                <div class="contact-info">
                  <p>MAIL US</p>
                  <span>info@yourdomail.com</span>
                </div>
              </li>
              <li>
                <div class="contact-icon">
                  <i class="fa fa-phone"></i>
                </div>
                <div class="contact-info">
                  <p>PHONE US</p>
                  <span> (+1) 1144-1254</span>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-bottom" id="sticky-header">
    <div class="container">
      <div class="row">
        <!-- <div class="hidden-md hidden-lg col-sm-8 col-xs-6">
          <div class="logo">
            <h1><a href="index.html">Martxa</a></h1>
          </div>
        </div> -->
        <div class="col-md-11 hidden-sm hidden-xs">
          <div class="mainmenu">
            <ul id="navigation">
              <li class="active"><a href="/index01/1">学院概况<i class="fa fa-angle-down"></i></a>
                <ul class="submenu">
                  <li><a href="/index01/1">学院介绍</a></li>
                  <li><a href="/index01/2">院长寄语</a></li>
                  <li><a href="/index01/3">领导班子</a></li>
                  <li><a href="/index01/4">组织架构</a></li>
                </ul>
              </li>
              <li><a href="/index02/1">师资团队<i class="fa fa-angle-down"></i></a>
                <ul class="submenu">
                  <li><a href="/index02/1">教职员工</a></li>
                  <li><a href="/index02/2">杰出人才</a></li>
                </ul>
              </li>
              <li><a href="/index03/1">人才培养<i class="fa fa-angle-down"></i></a>
                <ul class="submenu">
                  <li><a href="/index03/1">UBL培养模式</a></li>
                  <li><a href="/index03/2">专业介绍</a></li>
                  <li><a href="/index03/3">成果展示</a></li>
                  <li><a href="/index03/4">项目班</a></li>
                </ul>
              </li>
              <li><a href="sx_sxslist.html">实验实训</a>
              </li>
              <li><a href="portfolio.html">党团学工<i class="fa fa-angle-down"></i></a>
                <ul class="submenu">
                  <li><a href="portfolio.html">党员队伍</a></li>
                  <li><a href="portfolio2.html">党团工作</a></li>
                  <li><a href="portfolio3.html">学生管理</a></li>
                  <li><a href="portfolio4.html">科技协会</a></li>
                </ul>
              </li>
              <li><a href="blog.html">招生就业<i class="fa fa-angle-down"></i></a>
                <ul class="submenu">
                  <li><a href="blog.html">招生工作</a></li>
                  <li><a href="blog2.html">就业工作</a></li>
                  <li><a href="blog-left.html">国际化教育</a></li>
                </ul>
              </li>
              <li><a href="/index03/1">新闻热点<i class="fa fa-angle-down"></i></a>
                <ul class="submenu">
                  <li><a href="about.html">热点新闻</a></li>
                  <li><a href="about2.html">新闻中心</a></li>
                </ul>
              </li>
              <li><a href="/index08/1">联系我们<i class="fa fa-angle-down"></i></a>
                <ul class="submenu">
                  <li><a href="/index08/1">招贤纳士</a></li>
                  <li><a href="/index08/2">联系我们</a></li>
                </ul>
                </li>
            </ul>
          </div>
        </div>
        <div class="col-md-1 col-sm-2 col-xs-3">
          <div class="search-wrap text-right">
            <ul>
              <li>
                <a href="javascript:void(0);">
                    <i class="fa fa-search"></i>
                  </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-2 clear col-xs-3 hidden-md hidden-lg">
          <div class="responsive-menu-wrap floatright"></div>
        </div>
      </div>
    </div>
  </div>
</header>