{% extends "base.html" %}
 {% load staticfiles %}
{% block banner %}
  <div class="breadcumb-area black-opacity bg-img-4">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="breadcumb-wrap">
            <h2>领导班子</h2>
          </div>
        </div>
      </div>
    </div>

  </div>
{% endblock %}

{% block content %}

  <div class="single-service-area ptb-30">
    <div class="container">
      <!-- <div class="row">
        <div class="text-left">
          <div class="my-section-title">
            <span class="section-serial">01</span>
            <div class="title-text">
              <h2>UBL人才培养模式</h2>
              <p>主页人才培养</p>
            </div>
          </div>
        </div>
      </div> -->

      <div class="row">
        <div class="text-left">
          <div class="my-section-title">
            <span class="section-serial">01</span>
            <div class="title-text">
              <h2>领导班子</h2>
              <p>PRESENT LEADER</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">

        <div class="col-md-4 col-sm-6">
          <article id="post-337" class="clearfix post-337 post type-post status-publish format-standard has-post-thumbnail hentry category-education tag-business tag-study tag-teaching">
            <div class="edu-news-single clearfix">
              <!--作者-->
              <div id="unitech_author_about_widget-2" class="sidebar-widget widget_unitech_author_about_widget">
                <div class="author--info--wrap">
                  <a href="teacherdetails.aspx?id=18040309471255810000002">
                                                                            <img src="{% static 'assets/images/18040309434141710000001.jpg' %}" id="repeater_teacher_img_headimage_0" alt="Author Image">
                                                                        </a>
                  <div class="self-info white-bg text-center">
                    <h3>
                                                                                <a href="teacherdetails.aspx?id=18040309471255810000002">
                                                                                    张雪鹏
                                                                                </a></h3>
                    <p>高级经济师 </p>
                    <div class="blog-social">
                      <h4>院长</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </div>

        <div class="col-md-4 col-sm-6">
          <article id="post-337" class="clearfix post-337 post type-post status-publish format-standard has-post-thumbnail hentry category-education tag-business tag-study tag-teaching">
            <div class="edu-news-single clearfix">
              <!--作者-->
              <div id="unitech_author_about_widget-2" class="sidebar-widget widget_unitech_author_about_widget">
                <div class="author--info--wrap">
                  <a href="teacherdetails.aspx?id=17120614335894010000006">
                                                                          <img src="{% static 'assets/images/18032308324228910000005.jpg' %}" id="repeater_teacher_img_headimage_1" alt="Author Image">
                                                                      </a>
                  <div class="self-info white-bg text-center">
                    <h3>
                                                                              <a href="teacherdetails.aspx?id=17120614335894010000006">
                                                                                  罗浚溢
                                                                              </a></h3>
                    <p>副教授 </p>
                    <div class="blog-social">
                      <h4>教学副院长</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </div>


        <div class="col-md-4 col-sm-6">
          <article id="post-337" class="clearfix post-337 post type-post status-publish format-standard has-post-thumbnail hentry category-education tag-business tag-study tag-teaching">
            <div class="edu-news-single clearfix">
              <!--作者-->
              <div id="unitech_author_about_widget-2" class="sidebar-widget widget_unitech_author_about_widget">
                <div class="author--info--wrap">
                  <a href="teacherdetails.aspx?id=18041609470787410000003">
                                                                            <img src="{% static 'assets/images/18041609442439210000002.jpg' %}" id="repeater_teacher_img_headimage_2" alt="Author Image">
                                                                        </a>
                  <div class="self-info white-bg text-center">
                    <h3>
                                                                                <a href="teacherdetails.aspx?id=18041609470787410000003">
                                                                                    郑煜
                                                                                </a></h3>
                    <p>讲师 </p>
                    <div class="blog-social">
                      <h4>鼎利学院党总支书记</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </div>

      </div>

    </div>
  </div>
{% endblock %}